[Desktop Entry]
Version=1.0
Name=Startmenu
Comment=Launch Apps
Exec=/opt/infinity/startmenu/startmenu
Icon=avatar-default
Terminal=false
Type=Application
Categories=
StartupNotify=true
GenericName=
